<!DOCTYPE html>

<html>

<head>
    <title>Help</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row row-header">
            <div class="container">
                <div class="row  justify-content-center">
                    <h1>{{title}}</h1>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link" href="/"><i class="fa fa-thermometer-empty"
                                        aria-hidden="true"></i>Weather & AQI</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/about"><i class="fa fa-user-o" aria-hidden="true"></i> About
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/help"><i class="fa fa-question-circle"
                                        aria-hidden="true"></i>Help</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row r-content">
            <div class="col-12">
                <h2>How to use ?</h2>
                <p>Enter the location in the search box and check the Temperature Unit.</p>
                <p></p>
                <p>You can type in your city, state or country name.</p>
                <h2>What it lets you know ?</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  list-bg">
                        <div class="dropdown">
                            <span>Daily Summary</span>
                            <div class="dropdown-content">
                                <h6>Provides you today's precipitation information.</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item  list-bg">
                        <div class="dropdown">
                            <span>Temperature</span>
                            <div class="dropdown-content">
                                <h6>Provides you the feature to find Temperature in unit of your preference</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item  list-bg">
                        <div class="dropdown">
                            <span>Humidity</span>
                            <div class="dropdown-content">
                                <h6>Provides you information of recent humidity</h6>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item  list-bg">
                        <div class="dropdown">
                            <span>Precipitation</span>
                            <div class="dropdown-content">
                                <h6>Provides you today's precipitation information.</h6>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <p>Created by {{name}}</p>
        </footer>
    </div>
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>


</html>